--extra-index-url https://okahu.jfrog.io/artifactory/api/pypi/okahu-pypi/simple
flask
langchain
langchain-openai
langchain-community
faiss-cpu
langchainhub
openai
credential_utilties/
embeddings/
okahu-observability
